<!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ site.url }}/assets/images/favicons/apple-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/imagees/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/images/favicons/apple-icon-144x144.png">
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}}/assets/images/favicons/favicon.png" />
    <link rel="shortcut icon" href="{{ site.url }}}/assets/images/favicons/favicon.ico" />
